:root{
    font-size: 15px;
    --border-color:linear-gradient(to right,
    #9EEFE5 0%,
    #DA344D 100%
    );
    --card-color: #222;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background: linear-gradient(rgba(169, 240, 209, 0.5),rgba(255, 126, 107, 0.8));
    height: 100%;
}

#header{
    display: flex;
    align-items: baseline;
    background-color: tan;
}
#logo{
    width: 25%;
}

#navbar{
    display: flex;
    justify-content: space-between;
}

#navbar a{
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    transition: 0.4s ease;
}

#navbar > a:hover{
    background-color: var(--card-color);
    color: aliceblue;

}

/* .home-verde{
    width: 30%;
}
.contact-verde{
    width: 30%;
}
.p-events-verde{
    width: 30%;
}
.u-events-verde{
    width: 30%;
}
.stats-verde{
    width: 30%;
} */


.respmenu{
    display: none;
}


#title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}


h1{
    display: flex;
    justify-content: center;
}

#title > a{
    text-decoration: none; 
    color: black;
    width: 3rem;
    cursor: pointer;
    transition: .5s ease;
}

#title > a:hover{
    width: 5rem;
}

#title > #disabled{
    pointer-events: none
}
#title > #disabled > svg{
    color: grey;
}

footer >a {
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: row;
}

.check-search{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

#checkbox{
    display: flex;
    justify-content: space-around;
}

#search{
    background-color: none;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 68vh;
    align-items: center;
}

.cards > .col-3{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height:25rem;
    background: var(--border-color);
    aspect-ratio: 10/16;
    padding: 5px;
    border-radius: 1.5rem;
    transition: box-shadow 0.4s ease;

}


.cards > .col-3:hover {
    box-shadow: 0px 5px 5px  6px rgba(0, 0,0, 0.6);
}

figure > img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    
}

figure{
    width: 100%;
    text-align-last: center;
    padding-top: 1rem;
    /* background:var(--card-color);
    width: 100%;
    height: 100%;
    border-radius: 10px; */

}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background:var(--card-color);
    width: 100%;
    height: 100%;
    border-radius: 10px; */

}

.price{
    display: flex;
    flex-direction: row;
    gap:2rem   
}

.price > a{
    text-decoration: none;
    border-radius: 1rem;
    color: black;
    background-color: rgba(220, 237, 185, 0.6);
    box-shadow: 1px 2px 3px;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}
.price > a:hover{
    background-color: var(--card-color);
    color: #9EEFE5;
    transition: 0.4s ease;

}

#whatsapp-icon{
    width: 40px;
}

#copyright{
    align-self: flex-end;
}

#social-media{
    display: flex;
    align-items: center;
    gap: 2rem;
}

footer > div > img{
    object-fit: cover; height: 1.5rem;
}

footer > p{
    display: flex; justify-content: flex-end;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    width: 35%;
    gap: 2rem;

}



.label-contact{
    display: flex;
    flex-direction: column;
}

.container-contact{
    display: flex;
    justify-content: center;
}

.main-contact{
    height: 75vh;
}

#name{
    height: 3rem;
}
#email{
    height: 3rem;
}

#submit{
    height: 3rem;
}

tr, th, td{
    border: 1px solid black;
    padding: .5rem;
}
th{
    font-size: 1.8rem;
}
td{
    font-size: 1.3rem;
}

.main-stats{
    height: 77vh;
}

.container-table{
    display: flex;
    justify-content: center;
}


.container-details{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.info-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.info-details > h1{
    font-size: 3rem;
    transition: .3s ease;
}

.info-details > h1:hover{
    font-size: 4rem;

}

.info-details > p{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: .3s ease;
}
.info-details > p:hover{
    font-size: 2rem;
}

#img-details{
    width: 100%;
    object-fit: cover;
    padding: 4rem;
    transition: box-shadow .4s ease;
}

#img-details:hover{
    box-shadow: black 2px 2px 10px;   
}

#fig-details{
    width: 80%;
    text-align-last: center;
}


#main-details{
    height: 84vh;
}

#cont-fig-details{
    width: 50%;
    background: var(--border-color);
    display: flex;
    justify-content: center;
    border-radius: 2rem;
}

#cont-info-details{
    width: 50%;
    display: flex;
    align-items: center;
    background: var(--card-color);
    color:#9EEFE5;
    border-radius: 2rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 320px) and (max-width: 479px){
    :root{
        font-size: 12px;
    }
    #navbar{
        display: none;
    }
    #header{
        display: flex;
        flex-direction: column;
    }
    #logo{
        width: 85%;
    }
    .respmenu{
        display: flex;
        flex-direction: column;
    }
    .respmenu a {
        color: black;
        text-decoration: none;
        list-style: none;

        display: block;
        padding: .8rem 1.5rem;
        border-bottom: 2px solid #456789;
        max-width: 12rem;
        /* background: grey; */
        font-variant: small-caps;

      }
      .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: -15.5rem;
        top: -6.5rem;
        width: 4rem;
        height: 4rem;
        cursor: pointer;

      }
      .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 4rem;
        pointer-events: none;
        transition: 0.4s ease;

      }

      .respmenu input[type="checkbox"] {
        opacity: 0;
      }
      .respmenu {
        color: white;
        position: relative;
        background: tan;
        min-height: 3rem;

      }
      .respmenu nav {
        display: none;
      }
      .respmenu input:checked ~ nav {
        display: block;
      }
      .respmenu input:checked ~ .fa-bars {
        display: none;
      }
      .respmenu input:not(:checked) ~ .fa-times {
        display: none;

      }

      .fa-bars > img {
        width: 3rem;
      }
      .fa-times > img{
        width: 3rem;

      }

      #title > a {
        width: 3rem;
      }
      h1{
        flex: 0 0 auto;
        width: 66.66666667%!important;
      }

      .check-search{
        margin-top: 2rem;
      }
      label{
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }
      #checkbox {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      #search{
        width: 45%;
        gap: 1rem;
        background: none;
    
    }
    #title{
        margin-top: 1rem;
        flex-wrap: nowrap;
    }
    .cards{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        gap: 1rem;
        margin-top: 1rem;
    }

    #whatsapp-icon, .col-4 > a > img{
        width: 2rem;
    }

    #social-media{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }


    footer{
        margin-top: 1rem;
    }

    .main-contact{
        height: 90vh;
    }

    table{
        width: 90%;
    }
    th{
        font-size: .7rem;
    }
    td{
        font-size: 1rem;
    }

    .main-stats{
        height: 100%;
    }
    th, td{
        padding-left: .2rem;
        padding-right: .2rem;
        padding-bottom: 0;
        padding-top: 0;
    }
    
    .container-details{
        flex-wrap: wrap;
        margin: 1rem;
    }
    #img-details{
        padding: 0;
    }

    #cont-fig-details{
        width: 100%;
    }
    #cont-info-details{
        width: 100%;
    }
    #main-details{
        height: 100%;
    }


}

@media only screen and (min-width: 480px) and (max-width: 767px){
    body{
        height: 100%;
    }
    #header{
        display: flex;
        flex-direction: column;
    }
    #title{
        flex-wrap: nowrap;
    }
     #logo{
        width: 70%;
    }
    #navbar{
        display: none;
    }

    .respmenu{
        display: flex;
        flex-direction: column;
    }
    .respmenu a {
        color: black;
        text-decoration: none;
        list-style: none;

        display: block;
        padding: .8rem 1.5rem;
        border-bottom: 2px solid #456789;
        max-width: 12rem;
        /* background: grey; */
        font-variant: small-caps;
      }
      .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: -19rem;
        top: -6.5rem;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
      }
      .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 4rem;
        pointer-events: none;
      }

      .respmenu input[type="checkbox"] {
        opacity: 0;
      }
      .respmenu {
        color: white;
        position: relative;
        background: tan;
        min-height: 3rem;
      }
      .respmenu nav {
        display: none;
      }
      .respmenu input:checked ~ nav {
        display: block;
      }
      .respmenu input:checked ~ .fa-bars {
        display: none;
      }
      .respmenu input:not(:checked) ~ .fa-times {
        display: none;
      }

      .fa-bars > img {
        width: 3rem;
      }
      .fa-times > img{
        width: 3rem;
      }
      #title > a {
        width: 3rem;
      }
      h1{
        flex: 0 0 auto;
        width: 66.66666667%!important;
      }

      .check-search{
        margin-top: 2rem;
      }
      label{
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }
      #checkbox {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      #search{
        width: 45%;
        gap: 1rem;
        background: none;
    
    }
    #title{
        margin-top: 1rem;
        flex-wrap: nowrap;
    }
    .cards{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        gap: 1rem;
        margin-top: 1rem;
    }

    th{
        font-size: 1rem;
    }
    td{
        font-size: .8rem;
    }
    table{
        width: 90%;
    }
    .main-contact{
        height: 78vh;
    }

    #whatsapp-icon, .col-4 > a > img{
        width: 2rem;
    }

    footer{
        margin-top: 1rem;
    }

    .container-details{
        flex-wrap: wrap;
        margin: 1rem;
    }
    #img-details{
        padding: 0;
    }

    #cont-fig-details{
        width: 100%;
    }
    #cont-info-details{
        width: 100%;
    }
    #main-details{
        height: 100%;
    }


}

@media only screen and (min-width: 768px) and (max-width: 959px){
    
    body{
        height: 100% !important;
    }
    #header{
        flex-direction: column;
        align-content: center;
    }
    #logo{
        width: 40%;
    }
    h1{
        flex: 0 0 auto;
        width: 66.66666667%!important;
      }

    #navbar{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 1rem;
    }

    #header > figure{
        width: 100%;
    }
    .check-search{
        margin-top: 2rem;
        gap: 1rem;
    }

    #checkbox {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        flex: 0 0 auto;
        width: 58.33333333%;
      }

    #search{
        background:none;
        flex: 0 0 auto;
        width: 39.666667%;
    }

    .cards{
        flex-wrap: wrap;
        height: 85vh;
        margin-bottom: 1rem;
        gap: 2rem;
        justify-content: space-evenly;
    }
    th{
        font-size: 1.2rem;
    }
    td{
        font-size: 1rem;
    }
    table{
        width: 90%;
    }
    .main-contact{
        height: 78vh;
    }
    .container-details{
        flex-wrap: wrap;
        margin: 2rem;
    }
    #img-details{
        padding: 0;
    }

    #cont-fig-details{
        width: 100%;
    }
    #cont-info-details{
        width: 100%;
    }
    #main-details{
        height: 100%;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1023px){
    #header{
        flex-direction: row;
        align-content: center;
    }
    #logo{
        width: 80%;
    }
    h1{
        flex: 0 0 auto;
        width: 75% !important;
    }
    #header > figure {
        flex: 0 0 auto;
        width: 33.33333333%;

    }
    #navbar{
        flex: 0 0 auto;
        width: 66.66666667%;
        margin-bottom: 2rem
    }


    .cards{
        height: 82vh;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .container-details{
        flex-wrap: wrap;
        margin: 2rem;
    }
    #img-details{
        padding: 0;
        width: 75%;
    }

    #cont-fig-details{
        width: 100%;
    }
    #cont-info-details{
        width: 100%;
    }


}

@media only screen and (min-width: 1024px) and (max-width: 1328px){

    #header{
        flex-direction: row;
        align-content: center;
    }
    #logo{
        width: 100%;
    }
    h1{
        flex: 0 0 auto;
        width: 75%;
    }
    #header > figure {
        flex: 0 0 auto;
        width: 33.33333333%;

    }
    #navbar{
        flex: 0 0 auto;
        width: 66.66666667%;
        margin-bottom: 2rem
    }


    .cards{
        height: 100vh;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        margin: 1.5rem;
    }

    .container-details{
        flex-wrap: wrap;
        margin: 2rem;
    }
    #img-details{
        padding: 0;
        width: 75%;
    }

    #cont-fig-details{
        width: 100%;
    }
    #cont-info-details{
        width: 100%;
    }
    #main-details{
        height: 100vh;
    }

    
}

@media only screen and (min-width: 1329px) and (max-width: 1669px){

    #header{
        flex-direction: row;
        align-content: center;
    }
    #logo{
        width: 80%;
    }
    h1{
        flex: 0 0 auto;
        width: 75%;
    }
    #header > figure {
        flex: 0 0 auto;
        width: 33.33333333%;

    }
    #navbar{
        flex: 0 0 auto;
        width: 66.66666667%;
        margin-bottom: 2rem
    }


    .cards{
        height: 100vh;
        flex-wrap: wrap;
        margin: 1.5rem;
    }

    .container-details{
        flex-wrap: nowrap;
        /* margin: 2rem; */
    }
    #img-details{
        padding: 0;
        /* width: 75%; */
    }

    #cont-fig-details{
        width: 100%;
    }
    #cont-info-details{
        width: 100%;
    }
    #main-details{
        height: 100vh;
    }
    
}
