li {
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    font-size: .8rem;
}
body {
    background: linear-gradient(rgba(169, 240, 209, 0.5),rgba(255, 126, 107, 0.8));
}

.nav-menu > a:hover {
    background-color: black;
    color: aliceblue;
    transition: 0.4s ease;
}


tr, th, td{
    border: 1px solid black;
    padding: .5rem;
}
#whatsapp-icon {
    width: 38px;

}
#card-container {
    height: 26rem;
}
#card-bg{
    height: 28rem;
}

.nav-logo figure {
    max-width: 80%;
}
.nav-logo figure > img{
    margin-top: 0.5rem;
    max-width: 85%;
}
#not-found {
    height: 70vh;
}

.img-card {
    max-width: 100%;
    width: 20rem;
    height: 12rem;
    object-fit: cover;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
   .nav-container {
    display: block;
    max-width: 479px;
    /* padding-bottom: 1rem; */
   }
   
   .nav-container a {
    display: block;
   }
   .nav-menu > a {
    display: none;
   }

   .nav__menu {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
   }
   .nav__item {
    width: 40%;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
   h1{
    font-weight: 100;
   }

   #category-search {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   #checkbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
   }
   #search {
    width: 100%;
   }
   #search > input {
    margin-left: 1rem;
    margin-right: 1rem;
   }
   #card-bg {
    height: 28rem;
    max-width: 85%;
   }
   #copyright {
    text-align: center;
    font-size: .7rem;
   }
   footer {
    gap: 0.5rem;
   }
   #social-media {
    gap: 0;
   }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .nav-container {
        display: block;
        max-width: 768px;
        padding-bottom: 1rem;
    }
    .nav-menu {
        display: none !important;
    }
   .nav__menu {
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-wrap: wrap;
       }
    #category-search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #checkbox {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }  
    #search {
        width: 100%;
    }
    #search > input {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #copyright {
        text-align: center;
        font-size: 1rem;
       }
    footer {
        gap: 1rem;
    }
    #social-media {
        gap: 0.5rem;
    } 
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    .nav-container {
        max-width: 959px;
        padding-bottom: 1rem;
    }
    .nav__menu {
        display: none;
    }
    .nav-logo > a {
        margin-right: 1rem;
        margin-left: 1rem;
    }
   
    .nav-menu {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .nav-item {
        height: 3.5rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
    #category-search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #checkbox {
        width: 100%;
    }  
    #search{
        width: 100%;
    }
    #search > input {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    #copyright {
        text-align: center;

       }
    footer {
        gap: 2rem;
    }
    #social-media {
        gap: 1rem;
    } 
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
    .nav-container {
        max-width: 1024px;
        padding-bottom: 1rem;
    }
    .nav__menu {
        display: none;
    }
    .nav-menu {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .nav-item {
        height: 3.5rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1328px) {
    .nav-container {
        max-width: 100%;
        padding-bottom: 1rem;
    }
    .nav__menu {
        display: none;
    }
    .nav-logo > a {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .nav-menu {
        margin-right: 1rem;
    }
    .nav-item {
        height: 3rem;
        text-align: center;
        display: flex;
        align-items: center;
    } 
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    #contact {
        width: 80%;
    }
    tr, th, td {
        font-size: 1rem;
        line-height: 1rem;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 1323px) {
    #contact {
        width: 50%;
    }
    tr, th, td {
        font-size: 1.225rem;
        line-height: 1.7rem;
    }
    
}
@media only screen and (min-width: 1324px) and (max-width: 1660px) {
    #contact {
        width: 50%;
    }
    .nav__menu {
        display: none;
    }
}

/* ----- Hamburger menu ------ */

.nav-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
/* .nav-input:checked + .nav-menu {
    
} */
.nav-label, .nav-input {
    display: none;
}

@media (max-width: 767px) {
    .nav__menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: rgb(183, 79, 79)
        /* rgba(255, 126, 107, 1); */
        
    }
    .nav__item {
        text-decoration: none;
        color: white;
        font-variant: small-caps;
    }
    .nav-label {
        display: block;
        cursor: pointer;
    }
    .nav__menu {
        position: absolute;
        top: 67px;
        height: 100%;
        bottom: 0;
        width: 100%;
        right: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-out;
    }
    .nav-input:checked + .nav__menu {
        clip-path: circle(100% at center);
    }
}

/*----------------------------------------------------*/

.container-details{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: 80%;
    align-items: center;
}
.info-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.info-details > h1{
    font-size: 1.5rem;
    text-align: center;
    transition: .3s ease;
}

.info-details > h1:hover{
    font-size: 2rem;

}
.info-details > p{
    font-size: 1rem;
    text-align: center;
    transition: .3s ease;
}
.info-details > p:hover{
    font-size: 1.5rem;
}
#img-details{
    object-fit: cover;
    transition: .5s ease;
    border-radius: 2rem;
    max-width: 100%;
    
}
#img-details:hover{
    /* box-shadow: black 2px 2px 10px;   */
    padding: 2rem; 
    box-shadow: 0px 2px 40px 8px;
}
#fig-details{
    display: flex;
    max-width: 100%;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#main-details{
    height: 80vh;
}
#cont-fig-details{
    background-color: rgb(236, 132, 132);
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    width: 50rem;
    height: 22rem;
    margin-left: 0.5rem;

}
#cont-info-details{
    
    display: flex;
    align-items: center;
    background-color: rgb(236, 132, 132);
    color:#ffffff;
    border-radius: 2rem;
    width: 50rem;
    margin-right: 0.5rem;
    padding: 1rem 1rem 2rem 1rem;
}
#back-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    height: 10vh;
}
footer{
    height: 10vh;
}
#back{
    display: flex;
    justify-content: center;
}

/*Media Queries detaisl*/

@media (max-width: 767px) {
    .container-details {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 100%;
        height: 80%;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #main-details{
        height: auto;
    }
    #cont-fig-details{
        background-color: rgb(236, 132, 132);
        display: flex;
        justify-content: center;
        border-radius: 2rem;
        max-width: 90%;
        /* height: 22rem; */
        margin-left: 0.5rem;
    
    }
    #cont-info-details{
        
        display: flex;
        align-items: center;
        background-color: rgb(236, 132, 132);
        color:#ffffff;
        border-radius: 2rem;
        max-width: 90%;
        margin-right: 0.5rem;
    }

    #img-details{
        max-width: 80%;
        object-fit: contain;
        border-radius: 2rem;
    }


}

