:root{
    font-size: 15px;
    /* --border-color:linear-gradient(to right,
    tomato 0%,
    gold 100%
    );
    --card-color: #222; */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background: linear-gradient(rgba(213, 214, 205, 0.5), rgba(79, 83, 2, 0.75));
    height: 100vh;
    /* background-size: cover; */
    /* background-image: url(../images/bg-3.jpg);
    background-size: cover; */
}

#header{
    display: flex;
    align-items: baseline;
    background-color: tan;
}
#logo{
    width: 25%;
}

#navbar{
    display: flex;
    justify-content: space-between;
}

#navbar a{
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;

}
.respmenu{
    display: none;
}


#title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

h1{
    display: flex;
    justify-content: center;
}

#title > a{
    text-decoration: none; 
    color: black;
    width: 6rem
}

#title > #disabled{
    pointer-events: none
}
#title > #disabled > svg{
    color: grey;
}

footer >a {
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: row;
}

.check-search{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

#checkbox{
    display: flex;
    justify-content: space-around;
}

#search{
    background-color: grey;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 68vh;
    align-items: center;
}

.cards > .col-3{
    border: 3px solid black;
    /* box-shadow: 12px 12px 2px 1px; */
    display: flex;
    flex-direction: column;
    width: 20rem;
    /* height: 50%; */
    /* background: var(--border-color);
    aspect-ratio: 10/16;
    padding: 5px;
    border-radius: 16px; */
}

figure > img {
    width: 90%;
    object-fit: cover;
    
}

figure{
    width: 100%;
    text-align-last: center;
    padding-top: 1rem;
    /* background:var(--card-color);
    width: 100%;
    height: 100%;
    border-radius: 10px; */

}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background:var(--card-color);
    width: 100%;
    height: 100%;
    border-radius: 10px; */

}

.price{
    display: flex;
    flex-direction: row;
    gap:2rem   
}

.price > a{
    text-decoration: none;
    color: black;
    background-color: grey;
    border: 1px solid tomato;
    box-shadow: 1px 2px 3px;
    margin-bottom: 1rem;
}

#whatsapp-icon{
    width: 40px;
}

footer > div > img{
    object-fit: cover; height: 1.5rem;
}

footer > p{
    display: flex; justify-content: flex-end;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    width: 35%;
    gap: 2rem;

}



.label-contact{
    display: flex;
    flex-direction: column;
}

.container-contact{
    display: flex;
    justify-content: center;
}

.main-contact{
    height: 77vh;
}

#name{
    height: 3rem;
}
#email{
    height: 3rem;
}

#submit{
    height: 3rem;
}

tr, th, td{
    border: 1px solid black;
    padding: .5rem;
}
th{
    font-size: 1.8rem;
}
td{
    font-size: 1.3rem;
}

.main-stats{
    height: 77vh;
}

.container-table{
    display: flex;
    justify-content: center;
}

table{
    width: 60%;
}

.container-details{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    justify-content: center;
}

.info-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.info-details > h1{
    font-size: 4rem;
}

.info-details > p{
    font-size: 2rem;
}

#img-details{
    width: 100%;
    object-fit: cover;
    padding: 4rem;
}

#fig-details{
    width: 75%;
    text-align-last: center;
}


#main-details{
    height: 84vh;
}

#cont-fig-details{
    width: 50vw;
    background-color: black;
    display: flex;
    justify-content: center;
}

#cont-info-details{
    width: 50vw;
    display: flex;
    align-items: center;
    background-color: yellow;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 320px) and (max-width: 479px){
    :root{
        font-size: 12px;
    }
    #navbar{
        display: none;
    }
    #header{
        display: flex;
        flex-direction: column;
    }
    #logo{
        width: 85%;
    }
    .respmenu{
        display: flex;
        flex-direction: column;
    }
    .respmenu a {
        color: black;
        text-decoration: none;
        list-style: none;

        display: block;
        padding: .8rem 1.5rem;
        border-bottom: 2px solid #456789;
        max-width: 12rem;
        /* background: grey; */
        font-variant: small-caps;
      }
      .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: -15.5rem;
        top: -6.5rem;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
      }
      .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 4rem;
        pointer-events: none;
      }

      .respmenu input[type="checkbox"] {
        opacity: 0;
      }
      .respmenu {
        color: white;
        position: relative;
        background: tan;
        min-height: 3rem;
      }
      .respmenu nav {
        display: none;
      }
      .respmenu input:checked ~ nav {
        display: block;
      }
      .respmenu input:checked ~ .fa-bars {
        display: none;
      }
      .respmenu input:not(:checked) ~ .fa-times {
        display: none;
      }

      .fa-bars > img {
        width: 3rem;
      }
      .fa-times > img{
        width: 3rem;
      }

      #title > a {
        width: 3rem;
      }
      h1{
        flex: 0 0 auto;
        width: 66.66666667%;
      }

      .check-search{
        margin-top: 2rem;
      }
      label{
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }
      #checkbox {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      #search{
        width: 45%;
        gap: 1rem;
        background: none;
    
    }
    #title{
        margin-top: 1rem;
    }
    .cards{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        gap: 1rem;
        margin-top: 1rem;
    }

    #whatsapp-icon, .col-4 > a > img{
        width: 2rem;
    }

    footer{
        margin-top: 1rem;
    }
    


}

@media only screen and (min-width: 480px) and (max-width: 767px){
    
}